header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header h1 {
  cursor: pointer;
}

header #cart-btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: inherit;
  cursor: pointer;
  font-family: "Rock Salt";
}
