.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.products-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.products-list li {
  border: 1px solid var(--grey);
  border-radius: var(--border-radius);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px;
  padding: 30px;
  width: 250px;
  text-align: center;
  transition: var(--transition-default);
}

.product-image {
  width: 200px;
  height: 200px;
  margin: 5px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

#description {
  font-size: 12px;
  font-weight: bold;
}

.products-list li:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.products-list h3,
.products-list p {
  margin: 5px;
}

.add-to-cart-btn {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--text-light);
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: var(--dark-secondary-color);
  transition: var(--transition-default);
}

@media (max-width: 600px) {
  .products-list li {
    width: auto;
    padding: 15px;
  }

  .product-image {
    width: 90%;
    border: 2px solid var(--grey);
  }
}
